*,
*:before,
*:after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.blurry{
    filter:blur(5px);
}
body{
    background-color: rgb(49, 41, 41);
}
header{
    display: flex;
    justify-content: space-between;
    height:70px;
    background:linear-gradient(rgb(107, 74, 74),rgb(63, 45, 45));
    box-shadow:5px 5px 15px;
}
h1:nth-child(1){
    font-family:'Unbounded', cursive;
    color:rgb(31, 19, 19);
    font-size:50px;
    padding-left:20px;

}
.right{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 70px;
    width:170px;
}
.right a{
    font-family: 'Raleway', sans-serif;
    color:white;
    text-decoration: none;
    font-size:25px;
    background-color: rgb(24, 20, 20);
    border: 10px solid rgb(24, 20, 20);
    border-radius:20px;
}
section{
    padding: 40px;
    height:80vh;
}
.newBook{
    display:flex;
    align-items: center;
    justify-content: center;
    height:110px;
    width:110px;
    border-radius:100%;
    background-color:rgb(107, 74, 74);
}
.newBook-hover{
    display:flex;
    width:150px;
    align-items: center;
    flex-direction: column;
}
.newBook > p{
    color:white;
    font-size:8em;
    font-weight: bold;  
    transition: 2s;
}
.newBook-hover > p{
    padding-top:20px;
    font-size:20px;
    color:white;
    font-family: 'Raleway', sans-serif;
}
.newBook p:hover{
    transform: rotate(180deg);
}
.enter-book{
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width:100vw;
    top:0;
}
article{
    display:flex;
    justify-content: space-between;
}
.enter-book > article{
    width:1000px;
    height:400px;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color:white;
    border-radius:5px;
}
.bg-img{
    background: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
    background-size: cover;
    height:100%;
    width:60%;
}
.bg-grad{
    background: linear-gradient(90deg, transparent, black 90%);
    width:100%;
    height:100%;
}
article > form{
    width:40%;
    height:100%;
    padding:20px;
}
form > h2{
    font-size:60px;
    letter-spacing: 2px;
}
h4{
    font-size:40px;
    padding-top:20px;
}
form > div{
    display:flex;
    flex-direction:column;
}
form > div > label{
    font-size: 25px;
    padding-bottom:2px;
}
.yes-no{
    flex-direction: row;
    justify-content: space-around;
}
#bookName, #bookPage, #currPage{
    width:250px;
    height:30px;
    font-size:20px;
}
i{
    font-size:48px;
    color:red;
}